:root {
  --cl-link: #777;
  --cl-logo-txt: #fff;
  --bc-header: #333454;

  --cl-circle: #48cfad;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
